In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
dataset=pd.read_csv("Algerian_forest_fires_dataset_UPDATE.csv",header=1)
dataset

In [ ]:
dataset.info()

DAta cleaning 
check karna kahi missing value and fill it

In [ ]:
dataset.isnull().sum() #ye column me dekege ka ki null hai ki nhi

In [ ]:
dataset[dataset.isnull().any(axis=1)] # ye row me dekega null hai ki nhi

In [ ]:
dataset.loc[0:122,"Region"]=0# yaha 0-122 tak region column banaye and 0 assign kiye aur 122 se last tak 1 assign kiye
dataset.loc[122:,"Region"]=1

In [ ]:
dataset.info()#float aya htao memmory barbad

In [ ]:
dataset[['Region']]=dataset[["Region"]].astype(int)


dataset.info()

remove karo null values

In [ ]:
dataset.dropna(inplace=True)

In [ ]:
dataset[dataset.isnull().any(axis=1)]

In [ ]:
dataset.isnull().sum(axis=0)

In [ ]:
dataset.iloc[[122]]# 122 row repeat ho rha delete it

In [ ]:
#dataset.drop(122,inplace=True)
dataset = dataset.drop(dataset.index[122])

In [ ]:
dataset.iloc[122]

In [ ]:
dataset.columns

FIX SPACES IN COLUMN NAME SPACE HATAO

In [ ]:
dataset.columns=dataset.columns.str.strip()
dataset.columns

In [ ]:
dataset

In [ ]:
dataset.info()

In [ ]:
dataset

In [ ]:
dataset[['day','month','year','Temperature','RH','Ws']] = dataset[['day','month','year','Temperature','RH','Ws']].astype(int)
dataset.info()

In [ ]:
object=[features for features in dataset.columns if dataset[features].dtypes=='O']
object

In [ ]:
for i in object:
    if i!='Classes':
        dataset[i]=dataset[i].astype(float)

In [ ]:
dataset.info()

In [ ]:
dataset.describe()

In [ ]:
dataset.to_csv("Algerian_forest_fires_dataset_cleaned.csv",index=False)

DROP unneccessay columns

In [ ]:
cleaned_dataset=dataset.drop(['month','year','day'],axis=1)
cleaned_dataset.head()

In [ ]:
cleaned_dataset['Classes']=np.where(cleaned_dataset['Classes'].str.contains('not fire'),0,1)

In [ ]:
cleaned_dataset.head()

In [ ]:
cleaned_dataset['Classes'].value_counts()

NOW PLOTTING KA SAMAY HAI CLEANING DONE

In [ ]:
plt.style.use('seaborn-v0_8')
cleaned_dataset.hist(bins=50,figsize=(20,15))
plt.show()

In [ ]:
Percentage_of_fire_and_non_fire=cleaned_dataset['Classes'].value_counts(normalize=True)*100

PIE CHART BANA RAHE CLASSSES COLUMN KA

In [ ]:
classlabels=['Fire',"Non Fire"]
plt.figure(figsize=(12,7))
plt.pie(Percentage_of_fire_and_non_fire,labels=classlabels)
plt.title('pie chart')
plt.show()

CORRELATION CHECK

In [ ]:
cleaned_dataset.corr()

In [ ]:
sns.heatmap(cleaned_dataset.corr())

In [ ]:
dataset

month ke hisab se fire check krna hai

In [ ]:
dataset['Classes']=np.where(dataset['Classes'].str.contains('not fire'),"not fire","fire")

In [ ]:
dftemp=dataset.loc[dataset['Region']==1]
plt.subplots(figsize=(13,6))
sns.set_style('whitegrid')
sns.countplot(x='month',hue='Classes',data=dftemp)
plt.xlabel("month",weight="bold")
plt.ylabel("No of fires in month",weight="bold")
plt.title("FIRE ANALYSIS OF SIDI BEL REGION")

In [ ]:
dftemp1=dataset.loc[dataset['Region']==0]
plt.subplots(figsize=(13,6))
sns.set_style('whitegrid')
sns.countplot(x='month',hue='Classes',data=dftemp1)
plt.xlabel("month",weight="bold")
plt.ylabel("No of fires in month",weight="bold")
plt.title("BEJAIA REGION FIRE ANALYSIS")

In [ ]:

plt.subplots(figsize=(13,6))
sns.set_style('whitegrid')
sns.countplot(x='month',hue='Classes',data=dataset)
plt.xlabel("month",weight="bold")
plt.ylabel("No of fires in month",weight="bold")
plt.title("DATASET FIRE ANALYSIS")